.container {
  /* background-image: url("https://m.media-amazon.com/images/G/01/AmazonMusic/2020/LandingPage/HD/0921_MassAds/US-EN_AMHD_LifeHD_MassAds_LP_AC_Slot01_1x.jpg"); */
  /* background-image: url("https://64.media.tumblr.com/a527009f6e04b24bbac1401734a497dd/4f990cfe424c21ad-a0/s2048x3072/b97c90c121b00bf38871409dc95f0e7c9cbaef5e.jpg"); */
  height: 50rem;
  width: 100%;
}

.container > div:nth-child(1) {
  position: relative;
}

.container > div:nth-child(1) > img {
  opacity: 0.8;
}
.container > div:nth-child(2) {
  position: absolute;
  top: 8rem;
  width: 90%;
  margin-left: 4.5rem;
  text-align: center;
  /* border:5px solid rgb(255, 255, 255) */
}
